{%- extends 'layout.html' -%}

{%- block title -%}
  About
{%- endblock -%}

{%- block background -%}
  <div id="index-background" class="background image-background rellax" data-rellax-speed="-5"></div>
{%- endblock -%}

{%- block main -%}
  <div id="container">
    <h1>
      About Me
    </h1>
    
    Hey! I'm Alexander "HyperNeutrino" Liao. I'm a 17-year-old Canadian teen in grade 12 with a passion for computer science, coding, music, math, debate, and video games.
    
    <h2>
      Computer Science, Coding, and Mathematics
    </h2>
    
    I've been coding since grade 6, and I've used a wide range of languages. My preferred languages are Python, C++, and JavaScript, and I can also use Java though I don't like it. I also know some esoteric languages like Jelly.<br /><br />
    I've written math contests since grade 2, and the Canadian Computing Challenge (CCC) since grade 8, with varying success. Some notable achievements include invitation to Repechage in 2018 and 2020, AIME in 2018, and CCO in 2019.
    
    <h2>
      Music
    </h2>
    
    Music is more of a passion than an educational focus. I have been playing piano since I was 5, and I have a bit of experience with clarinet, violin, and trombone, and I've completed RCM level 10 practical piano and RCM level 9 Harmony.
    
    <h2>
      Debate
    </h2>
    
    I've been debating since grade 7 and have gone to several debate tournaments in my region.
    
    <h2>
      Video Games
    </h2>
    
    I've played Overwatch, Warframe, and Multiplayer Minecraft, and I currently play League of Legends, Singleplayer Minecraft, and some OSU. I've tried a few other games before, like Fortnite, Legends of Runeterra, CS:GO, and Team Fortress 2, but I haven't played them much.
  </div>
{%- endblock -%}