{%- extends 'layout.html' -%}

{%- block title -%}
  HyperNeutrino
{%- endblock -%}

{%- block background -%}
  <div id="index-background" class="background image-background rellax" data-rellax-speed="-5"></div>
{%- endblock -%}

{%- block main -%}
  <div id="container">
    <h1>
      Hey there!
    </h1>
    
    I'm Alexander Liao, also known as HyperNeutrino online.<br /><br />
    
    <a href="https://www.instagram.com/alex.yj.liao/" target="_blank"><img src="/static/images/igicon.png" alt="IG" width=48 height=48 /></a><span class="vdiv"></span>
    <a href="https://www.facebook.com/alexliao15" target="_blank"><img src="/static/images/fbicon.png" alt="FB" width=48 height=48 /></a><span class="vdiv"></span>
    <a href="https://twitter.com/AlexLiao15" target="_blank"><img src="/static/images/tticon.png" alt="TT" width=48 height=48 /></a><span class="vdiv"></span>
    <a href="https://www.twitch.tv/hyperneutrino" target="_blank"><img src="/static/images/twicon.png" alt="TW" width=48 height=48 /></a><span class="vdiv"></span>
    <a href="https://www.youtube.com/channel/UCjWrRy5b2fntu1-u5EiFNtw" target="_blank"><img src="/static/images/yticon.png" alt="YT" width=48 height=48 /></a><span class="vdiv"></span>
    <a href="https://github.com/hyper-neutrino" target="_blank"><img src="/static/images/ghicon.png" alt="GH" width=48 height=48 /></a><span class="vdiv"></span>
    <a href="https://stackexchange.com/users/10839766/hyperneutrino" target="_blank"><img src="/static/images/seicon.png" alt="SE" width=48 height=48 /></a><span class="vdiv"></span>
  </div>
{%- endblock -%}