{%- extends 'layout.html' -%}

{%- block title -%}
  Privacy Policy
{%- endblock -%}

{%- block background -%}
  <div id="index-background" class="background image-background rellax" data-rellax-speed="-5"></div>
{%- endblock -%}

{%- block main -%}
  <div id="container">
    <h1>
      Privacy Policy
    </h1>
    
    <h2>
      Site usage
    </h2>
    
    None of your data except that provided in your account is stored in the server when you visit this website, including visitation/usage time/patterns, your IP, your location data, etc.
    
    <h2>
      Account
    </h2>
    
    Only data that you provide in your account details will be stored securely, and your personal information is only used to identify you. None of your data will be released to the public or any third-party entities either named or anonymously.
    
    <h2>
      Cookies
    </h2>
    
    Cookies are local files stored on your system for sites to remember information about you when you revisit them. You can turn off cookies in your browser as most websites still function without cookies and use them to provide better personalized services. This site uses cookies to keep track of your login information using authentication tokens, without storing your email address or password (which is important as this way other websites cannot read your information from the cookie). You can use the website without cookies, but you will not stay logged in and some accoutn actions may not work as well.
    
    <h2>
      Data Security
    </h2>
    
    It is impossible to provide 100% secure service and dishonest to claim perfect security; however, your privacy is highly valued and we take steps to ensure maximum security of your information that's stored on this website. Your information is stored in a database on a RackNerd server, which is a trusted web hosting service. If any security vulnerabilities arise, we will notify users as we value transparency. You may contact us regarding any questions you have about your information handling and storage. Your password is stored as a salted hash, meaning that it is virtually impossible to determine your password even if our database is leaked. However, you should still use different passwords for different websites, as breaking into the server is not the only way to grab user data.
  </div>
{%- endblock -%}