{%- extends 'layout.html' -%}

{%- block title -%}
  Profile
{%- endblock -%}

{%- block background -%}
  <div id="index-background" class="background image-background rellax" data-rellax-speed="-5"></div>
{%- endblock -%}

{%- block main -%}
  <div id="container">
    <h1>
      Profile
    </h1>
    <h2>
      <u>Skills Summary</u> | Computer Science | Web Development / Design
    </h2>
    <ul>
      <li>enthusiastic programmer with experience in Java, Python, C++, and JavaScript</li>
      <li>full-stack web developer for Waterloo Collegiate Institute Computer Science Club's official website, and this website</li>
      <li>consistent outstanding performance in mathematics and computer science competitions; 2019 CCO Bronze</li>
    </ul>
    <h2>
      <u>Core Competencies</u> | Computer Experience
    </h2>
    <ul>
      <li>General Computer Usage</li>
      <li>Word Processing</li>
      <li>Database Management</li>
      <li>Graphic Design</li>
      <li>Website Developement and Management</li>
    </ul>
    <h2>
      <u>Work and Prior Experience</u> | Teaching | Web Development
    </h2>
    <ul>
      <li><b>2018 - present</b>: [Work] Grand River Chinese School: Novice Computer Science Teacher<br />Teaches Python, JavaScript, HTML, and CSS to grade 6 - 8 students at a beginner to intermediate level</li>
      <li><b>2017 - present</b>: [Not Work] Full-stack web developer for <a href="https://cscenter.ca">cscenter.ca</a><br />Develops and designs backend (Python, SQL) and frontend (JavaScript, HTML, CSS) for Waterloo Collegiate Institute Computer Science Club / CS Center</li>
    </ul>
    <h2>
      <u>Hobbies and Interests</u> | Computer Science | Mathematics | Gaming | Music
    </h2>
    <ul>
      <li><b>Computer Science</b>: Avid programmer since 2013, recreational and competitive programmer, (web) developer</li>
      <li><b>Mathematics</b>: Interested in abstract and pure mathematics since early childhood, competitive mathematics enthusiast (contests)</li>
      <li><b>Gaming</b>: Enthusiastic PC gamer as a side interest</li>
      <li><b>Music</b>: RCM level 10 pianist; recreational &amp; classical pianist + violin, clarinet, trombone</li>
    </ul>
  </div>
{%- endblock -%}