{%- extends 'layout.html' -%}

{%- block title -%}
  Projects
{%- endblock -%}

{%- block background -%}
  <div id="index-background" class="background image-background rellax" data-rellax-speed="-5"></div>
{%- endblock -%}

{%- block main -%}
  <div id="container">
    <h1>
      Projects
    </h1>
    
    Most of my projects can be found on my <a href="https://github.com/hyper-neutrino">GitHub</a>. Some projects will also appear on the development side of my website, <a href="https://dev.hyper-neutrino.xyz">dev.hyper-neutrino.xyz</a>.
  </div>
{%- endblock -%}