{%- extends 'layout.html' -%}

{%- block title -%}
  Sign In
{%- endblock -%}

{%- block background -%}
  <div id="index-background" class="background image-background rellax" data-rellax-speed="-5"></div>
{%- endblock -%}

{%- block main -%}
  <div id="container">
    <h1>
      Sign In
    </h1>
    <form method="post">
      <div class="material-field-container material-input-container">
        <input class="form-field standard-input-size" type="text" name="username" id="username" placeholder=" " value="{{ _username }}" required />
        <label class="material-field-container-label" for="username">Username</label>
      </div>
      <br /><br />
      <div class="material-field-container material-input-container">
        <input class="form-field standard-input-size" type="password" name="password" id="password" placeholder=" " required />
        <label class="material-field-container-label" for="password">Password</label>
      </div>
      <br /><br />
      <input class="contained-button" type="submit" id="submit" value="Sign In" />
    </form>
  </div>
{%- endblock -%}